body{
    background-color: aqua;
    scroll-behavior:smooth;
    transition: .2s;
}
h1{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font: size 35%; ;
}
